Repository uOttawa-Makerspace/MakerSpaceRepo, pull requests merged in 2022-07, with the labels that each got.

#1229 Fixing header switching issues.
  app/javascript/packs/header.js
  app/views/layouts/_header.html.erb
Labels: bug, javascript

#1227 Adding support for multiple RFID boxes per space
  app/controllers/rfid_controller.rb
  spec/controllers/rfid_controller_spec.rb
Labels: enhancement, ruby

#1233 Adding error handling for FastImage exceptions
  app/controllers/learning_area_controller.rb
  app/controllers/makes_controller.rb
  app/controllers/proficient_projects_controller.rb
  app/controllers/project_proposals_controller.rb
  app/controllers/repositories_controller.rb
Labels: bug, ruby

#1238 Fix: Broken Accordion Algorithm
  app/javascript/packs/accordion-load.js
Labels: bug, javascript
